body {
    font-family: 'MedievalSharp', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #d9534f;
    color: #fff;
    margin: 0;
}

#categoryForm,
#searchForm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
    justify-items: end;
    padding: 15px;
    border-radius: 8px;
    background-color: #555;
}

#searchForm {
    max-height: 50px;
    overflow: hidden;
    background-color: #333;
}

label {
    margin-bottom: 8px;
    color: #d9534f;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

input,
select {
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d9534f;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
}

button {
    padding: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-self: start; /* Adjusted to move buttons to the left */
}

#searchButton {
    background-color: #555;
}

#categoryButton {
    background-color: #333;
}

#categoryButton:hover {
    background-color: #555;
}

#searchButton:hover {
    background-color: #333;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
}

#results > div {
    margin-bottom: 20px;
    background-color: #d9534f; /* Match the color of other elements */
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #a94442; /* Darker color for border */
    color: #fff;
}

#results > div:hover {
    background-color: #c9302c; /* Darker color on hover */
}


#selectedCategoryContainer {
    display: grid;
    grid-template-columns: auto auto; /* Two columns: one for title, one for icon */
    gap: 20px; /* Adjust the gap between title and icon */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Center the text within each column */
    margin-top: 20px;
}

#selectedCategoryTitle {
    font-size: 30px;
    font-weight: bold;
    color: #d9534f; /* Match the color of other elements */
}

#selectedCategoryIcon {
    font-size: 24px; /* Adjust the size of the icon */
    color: #d9534f; /* Match the color of other elements */
}
