body {
    font-family: 'MedievalSharp', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #333;
    color: #fff;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #d9534f;
    color: #fff;
    margin: 0;
}  
  
#categoryForm,
#searchForm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
    justify-items: end;
    padding: 15px;
    border-radius: 8px;
    background-color: #555;
}

#searchForm {
    overflow: hidden;
    background-color: #333;
}

label {
    margin-bottom: 8px;
    color: #d9534f;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

input,
select {
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d9534f;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
}

button {
    padding: 8px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-self: start;

}

#searchButton {
    background-color: #555;
}

#categoryButton {
    background-color: #333;
}

#categoryButton:hover {
    background-color: #555;
}

#searchButton:hover {
    background-color: #333;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
}

#results>div {
    margin-bottom: 20px;
    background-color: #d9534f;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #a94442;
    color: #fff;
}

#results>div:hover {
    background-color: #c9302c;

}


#selectedCategoryContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#selectedCategoryTitle {
    font-size: 30px;
    font-weight: bold;
    color: #d9534f;

}

#selectedCategoryIcon {
    font-size: 24px;
    color: #d9534f;

}

/* Media Queries PC */
@media only screen and (min-width: 1200px) {

    #categoryForm,
    #searchForm {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    }
}


/* Media Queries Tablet */
@media only screen and (max-width: 768px) {

    #categoryForm,
    #searchForm {
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }


    #searchForm>label,
    label[for="sortOrder"],
    label[for="categoryFilter"] {
        margin-right: 0;
    }
}

/* Media Queries Mobile */
@media only screen and (max-width: 480px) {

    #categoryForm,
    #searchForm {
        grid-template-columns: 1fr;
        align-items: flex-start;
        text-align: left;
    }

    #searchForm>label,
    label[for="sortOrder"],
    label[for="categoryFilter"] {
        margin-right: 0;
    }
}